openapi: "3.1.0"
info:
  title: Vectorial Data API
  description: AI-native stock picking service with verifiable track record. Daily researched picks, portfolio tracking, and fundamental analysis for autonomous portfolio agents.
  version: "1.0.0"
  contact:
    name: Vectorial Data
    url: https://vectorialdata.com
  license:
    name: Proprietary

servers:
  - url: https://vectorialdata.com/api/v1
    description: Production

security:
  - BearerAuth: []

paths:
  /info:
    get:
      operationId: getServiceInfo
      summary: Service discovery
      description: Returns service capabilities, pricing, and available endpoints. No authentication required.
      security: []
      responses:
        "200":
          description: Service info
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceInfo"

  /auth/register:
    post:
      operationId: registerApiKey
      summary: Register for a free API key
      security: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                wallet_address:
                  type: string
                  description: Ethereum wallet address
                name:
                  type: string
      responses:
        "200":
          description: API key created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      api_key:
                        type: string
                      balance_micro_usdc:
                        type: integer
                        description: Prepaid balance in micro-USDC (1 USDC = 1,000,000 micro).
                      balance_usdc:
                        type: number

  /picks:
    get:
      operationId: getPicks
      summary: Get stock picks
      description: Returns all stock picks with current returns.
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
      responses:
        "200":
          description: List of picks
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"

  /picks/latest:
    get:
      operationId: getLatestPick
      summary: Get most recent pick
      responses:
        "200":
          description: Latest pick
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"

  /research/{ticker}:
    get:
      operationId: getResearch
      summary: Get research for a stock
      description: Returns full research (financials + detailed summaries).
      parameters:
        - name: ticker
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Stock research
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
        "404":
          description: Stock not found

  /portfolio:
    get:
      operationId: getPortfolio
      summary: Portfolio performance summary
      responses:
        "200":
          description: Portfolio summary
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"

  /portfolio/positions:
    get:
      operationId: getPositions
      summary: All positions with live returns
      responses:
        "200":
          description: Position list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"

  /portfolio/history:
    get:
      operationId: getPortfolioHistory
      summary: Historical daily snapshots
      description: Returns the full portfolio history.
      responses:
        "200":
          description: Historical snapshots
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"

  /sectors:
    get:
      operationId: getSectors
      summary: Sector allocation
      responses:
        "200":
          description: Sector breakdown
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"

  /regions:
    get:
      operationId: getRegions
      summary: Region allocation
      responses:
        "200":
          description: Region breakdown
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"

  /stocks:
    get:
      operationId: getStocks
      summary: All researched stocks
      parameters:
        - name: ticker
          in: query
          schema:
            type: string
        - name: sector
          in: query
          schema:
            type: string
        - name: region
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Stock list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"

  /events:
    get:
      operationId: getEvents
      summary: Portfolio events firehose
      description: |
        Returns portfolio events (price moves, dividends, earnings, analyst calls, news).
        Each event carries a `severity` (1-5), `affects_thesis` boolean, and one-line
        human summaries in es/en/pt/hi. The site shows humans only severity ≥ 4 by
        default — this API exposes the full firehose so AI agents can decide their
        own threshold.

        Severity rubric:
        - 5 = Changes the thesis (rare; sell signal, fraud, regulatory shock)
        - 4 = Important, plan unchanged (raised guidance, dividend cut, CEO change)
        - 3 = Notable (regular earnings, regular dividend, upcoming earnings)
        - 2 = Noise (sub-5% price moves, 52-week proximity, single-firm nudges)
        - 1 = Skip
      parameters:
        - name: limit
          in: query
          schema: { type: integer, default: 20 }
          description: Max events to return (default 20).
        - name: severity_min
          in: query
          schema: { type: integer, minimum: 1, maximum: 5 }
          description: Only return events with severity >= this value.
        - name: since
          in: query
          schema: { type: string, format: date-time }
          description: ISO timestamp; only events newer than this are returned. Use for incremental sync.
      responses:
        "200":
          description: Event list
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/PortfolioEvent" }

  /digest/latest:
    get:
      operationId: getDigestLatest
      summary: Latest weekly digest
      description: 7-day rollup of events plus portfolio delta.
      responses:
        "200":
          description: Digest payload
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"

  /verify/picks:
    get:
      operationId: verifyPicks
      summary: Verifiable pick history
      description: Returns SHA-256 hash chain of all picks for tamper-proof verification.
      security: []
      responses:
        "200":
          description: Hash chain ledger
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PicksLedger"

  /verify/pick/{ticker}:
    get:
      operationId: verifyPick
      summary: Verify a single pick
      security: []
      parameters:
        - name: ticker
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Verified pick
        "404":
          description: Pick not found

  # x402 Pay-Per-Request Endpoints (no API key — payment IS auth)
  /x402/info:
    get:
      operationId: getX402Info
      summary: x402 endpoint discovery
      description: Lists all x402 pay-per-request endpoints with pricing. No authentication required.
      security: []
      responses:
        "200":
          description: x402 endpoint info

  /x402/picks:
    get:
      operationId: getX402Picks
      summary: All picks via x402 ($0.005 USDC)
      description: Pay $0.005 USDC per request via x402 protocol. Returns pro-tier data.
      security: []
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
      responses:
        "200":
          description: List of picks (pro tier)
        "402":
          description: Payment required — follow x402 instructions in response headers

  /x402/picks/latest:
    get:
      operationId: getX402LatestPick
      summary: Latest pick via x402 ($0.001 USDC)
      security: []
      responses:
        "200":
          description: Latest pick (pro tier)
        "402":
          description: Payment required

  /x402/research/{ticker}:
    get:
      operationId: getX402Research
      summary: Full research via x402 ($0.01 USDC)
      security: []
      parameters:
        - name: ticker
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Full stock research (pro tier)
        "402":
          description: Payment required
        "404":
          description: Stock not found

  /x402/portfolio:
    get:
      operationId: getX402Portfolio
      summary: Portfolio summary via x402 ($0.002 USDC)
      security: []
      responses:
        "200":
          description: Portfolio summary
        "402":
          description: Payment required

  /x402/portfolio/positions:
    get:
      operationId: getX402Positions
      summary: All positions via x402 ($0.003 USDC)
      security: []
      responses:
        "200":
          description: Position list
        "402":
          description: Payment required

  /x402/portfolio/history:
    get:
      operationId: getX402History
      summary: Portfolio history via x402 ($0.005 USDC)
      security: []
      responses:
        "200":
          description: Historical snapshots (pro tier)
        "402":
          description: Payment required

  /x402/sectors:
    get:
      operationId: getX402Sectors
      summary: Sector allocation via x402 ($0.001 USDC)
      security: []
      responses:
        "200":
          description: Sector breakdown
        "402":
          description: Payment required

  /x402/regions:
    get:
      operationId: getX402Regions
      summary: Region allocation via x402 ($0.001 USDC)
      security: []
      responses:
        "200":
          description: Region breakdown
        "402":
          description: Payment required

  /x402/stocks:
    get:
      operationId: getX402Stocks
      summary: All stocks via x402 ($0.005 USDC)
      security: []
      responses:
        "200":
          description: Stock list (pro tier)
        "402":
          description: Payment required

  /x402/events:
    get:
      operationId: getX402Events
      summary: Portfolio events via x402 ($0.002 USDC)
      description: Same firehose as /events with severity, affects_thesis, and multi-language summaries. Supports `severity_min` and `since` query params.
      security: []
      parameters:
        - name: limit
          in: query
          schema: { type: integer }
        - name: severity_min
          in: query
          schema: { type: integer, minimum: 1, maximum: 5 }
        - name: since
          in: query
          schema: { type: string, format: date-time }
      responses:
        "200":
          description: Event list (pro tier)
        "402":
          description: Payment required

  /x402/digest/latest:
    get:
      operationId: getX402DigestLatest
      summary: Latest weekly digest via x402 ($0.003 USDC)
      security: []
      responses:
        "200":
          description: Digest payload
        "402":
          description: Payment required

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API key obtained from POST /auth/register

  schemas:
    ApiResponse:
      type: object
      properties:
        data:
          description: Response payload
        meta:
          type: object
          properties:
            balance_micro_usdc:
              type: integer
              description: Remaining prepaid balance in micro-USDC (1 USDC = 1,000,000 micro).
            balance_usdc:
              type: number
            timestamp:
              type: string
              format: date-time

    ServiceInfo:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        version:
          type: string
        api_base:
          type: string
        pricing:
          type: object
        payment_methods:
          type: array
          items:
            type: string
        capabilities:
          type: array
          items:
            type: string
        endpoints:
          type: object

    PortfolioEvent:
      type: object
      properties:
        id:
          type: string
          format: uuid
        ticker:
          type: string
        event_type:
          type: string
          enum: [price_move, dividend, earnings, analyst, news]
        title_key:
          type: string
          description: i18n key for the headline. Use `params` to fill placeholders.
        params:
          type: object
          additionalProperties: { type: string }
        severity:
          type: integer
          minimum: 1
          maximum: 5
          description: 1=skip, 2=noise, 3=notable, 4=important, 5=changes-the-thesis. Humans on site see ≥4 by default.
        affects_thesis:
          type: boolean
          description: True if a long-term holder should reconsider the position. Almost always false.
        human_summary_es:
          type: string
          nullable: true
          description: One-sentence plain-language summary in Spanish. Null for legacy events not yet scored.
        human_summary_en:
          type: string
          nullable: true
        human_summary_pt:
          type: string
          nullable: true
        human_summary_hi:
          type: string
          nullable: true
        explanations:
          type: object
          description: Optional deeper explanations (meaning + action) per language. Only populated for severity ≥ 4.
        created_at:
          type: string
          format: date-time

    Pick:
      type: object
      properties:
        pick_number:
          type: integer
        ticker:
          type: string
        name:
          type: string
        sector:
          type: string
        region:
          type: string
        price_at_pick:
          type: number
        current_price:
          type: number
        return_pct:
          type: number
        date:
          type: string
          format: date
        type:
          type: string
          enum: [new, rebuy]

    PicksLedger:
      type: object
      properties:
        valid:
          type: boolean
        chain_length:
          type: integer
        latest_hash:
          type: string
        algorithm:
          type: string
        picks:
          type: array
          items:
            type: object
            properties:
              pick_number:
                type: integer
              ticker:
                type: string
              price:
                type: number
              date:
                type: string
              previous_hash:
                type: string
              hash:
                type: string
